.row-fluid
  .span4
    %form.well.form-search#doi-form
      %input.input-large.search-query#doi{:type => "text"}
      %button.btn{:type => "submit"} Go
    .well
      %h3#bibo-title
      .bibo-publication
        %h6 Published in
        %span#bibo-publication-text
      .bibo-pages
        %h6 On Pages
        %span#bibo-pages-text
      .bibo-date
        %h6 Publication Date
        %span#bibo-date-text
      .bibo-authors
        %h6 Authors
        %ul#bibo-authors-list
      %h6 Links
      %ul
        %li
          %a#bibo-publisher-link Publisher's site
  .span8
    %canvas#graph{"width" => "1000", "height" => "1000"}
      

    
      